{% include 'navbar.html' %}
      
      <!-- Message From Customer-->
      <div class="col-xl-7 col-lg-12">
        <div class="card">
          <div class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-light">Message From Konsultasi Masyarakat</h6>
          </div>
          <div>
            {% for pesan in chat_konsul %}
            <div class="customer-message align-items-center">
              <a class="font-weight-bold" href="{% url 'hapuschat' pesan.id %}" onclick="return confirm('Yakin ingin menghapus pesan')">
                <div class="text-truncate message-title">{{pesan.isi}}</div>
                <div class="small text-gray-500 message-time font-weight-bold">{{pesan.created_at}}</div>
              </a>
            </div>
            {% endfor %}
            <div class="card-footer text-center">
              <form method="POST" action="{% url 'send' %}">
                {% csrf_token %}                
                <textarea name="isi" class="form-control" placeholder="Enter Balasan"></textarea>

                <input type="hidden" name="idps" value="1">
                <input type="hidden" name="idk" value="1">
                <input type="hidden" name="idpg" value="1">
                <input type="hidden" name="idpt" value="N">
                

                <button type="submit" class="btn m-0 small text-primary card-link"><i class="fas fa-chevron-right"></i> Send Confirm</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>

{% include 'base.html' %}