{% include 'navbar.html' %}
<div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Selamat Datang di Sistem Layanan Konsultasi keagamaan PCNU Probolinggo</h1>
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item"><a href="./">Home</a></li> -->
            </ol>
          </div>

<div class="row">
            <!-- Datatables -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                   
                </div>
                <div align="center">
                  <img src="/static/logo.jpg" width="500px">
                  <h3>PCNU PROBOLINGGO</h3>
                </div><br>
               
                  </div></div></div>

{% include 'base.html' %}