{% include 'navbar.html' %}        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Layanan Konsultasi Keagamaan Masyarakat Probolinggo</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              
            </ol>
          </div>

          <div class="row mb-3">

          <!-- Row -->
          <div class="row">
            <!-- Datatables -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h4 class="m-1 font-weight-bold text-primary">Tabel Data Pakar</h4>
                </div>
                <div align="right">
                  <a class="btn btn-primary " href="{% url 'createpakar' %}">Tambah Pakar</a> 
                </div><hr>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>ID Pengguna</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>Alamat</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Tanggal</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                      </thead>
                             {% for datapakar in Pakar %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ datapakar.id_pengguna }}</td>
                            <td>{{ datapakar.nama_lengkap }}</td>
                            <td>{{ datapakar.Jenis_kelamin }}</td>
                            <td>{{ datapakar.alamat }}</td>
                            <td>{{ datapakar.email }}</td>
                            <td>{{ datapakar.username }}</td>
                            <td>{{ datapakar.password  }}</td>
                            <td>{{ datapakar.date_created|date:"l, d N Y" }}
                                {{ datapakar.date_created|time:"H:i:s" }}</td>
                            <th><a href="{% url 'updatepakar' datapakar.id %}" class="btn btn-success" onclick="return confirm('Yakin ingin mengubah data')">Update</a></th>
                            <th><a href="{% url 'deletepakar' datapakar.id %}" class="btn btn-danger" onclick="return confirm('Yakin ingin menghapus data')">Delete</a></th>
                        </tr>
                            {% endfor %}
                            
                          
                  </table>
                </div>
              </div>
            </div>
       {% include 'base.html' %}