<div align="center" style="background-color: #cdcdcd">
    <div style="width: 1200px; background-color: #FFF">
        <h2 align="center">(PCNU) NAHDLATUL ULAMA<BR>KB.PROBOLINGGO</h2>
        <h3 align="center">LAPORAN DATA PAKAR</h3>
  <table border="1" width="100%">
                    <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>ID Pengguna</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>Alamat</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Tanggal</th>
                            
                        </tr>
                             {% for datapakar in LP_pakar %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ datapakar.id_pengguna }}</td>
                            <td>{{ datapakar.nama_lengkap }}</td>
                            <td>{{ datapakar.Jenis_kelamin }}</td>
                            <td>{{ datapakar.alamat }}</td>
                            <td>{{ datapakar.email }}</td>
                            <td>{{ datapakar.username }}</td>
                            <td>{{ datapakar.password  }}</td>
                            <td>{{ datapakar.date_created|date:"l, d N Y" }}
                                {{ datapakar.date_created|time:"H:i:s" }}</td>
                            
                        </tr>
                            {% endfor %}
                            
                          
                  </table>
          </div></div>
          <script type="text/javascript">print();</script>